discord.py
discord.py[voice]
python-dotenv
flask
aiohttp
tls_client
logging
colorama
termcolor
websockets
licensing==0.43
requests==2.31.0
typing_extensions==4.10.0
httpx
requests



